// Built In Modules
@use "sass:map";
// Custom Variables
@use "@/assets/variables/variables.modules.scss" as *;

.listingShowcase {
    width: calc(100% - 50px);
    height: 100%;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    position: fixed;
    left: calc(50% - 25px);
    top: 50%;
    transform: translate(-50%, -50%);

    .loader {
        display: inline;
        text-wrap: nowrap;
        color: map.get($theme-colors, mainColor1);
        font-size: 32px;
        font-weight: bold;
    }
}