.idea/

flask-server/app/__pycache__/
flask-server/app/routes/__pycache__/
flask-server/app/entities/__pycache__/
flask-server/app/data_mappers/__pycache__/
flask-server/app/services/__pycache__/
flask-server/flask_session/

react-frontend/coverage/
react-frontend/node_modules/

*.pyc
