.idea/

flask-server/app/__pycache__/
flask-server/app/routes/__pycache__/
flask-server/app/entities/__pycache__/
flask-server/app/data_mappers/__pycache__/
flask-server/app/services/__pycache__/
/flask-server/flask_session/
flask-server/database/auctionhouse_backup.sql

react-frontend/node_modules/

*.pyc
