// Built In Modules
@use "sass:map";
// Custom Variables
@use "@/assets/variables.modules" as *;

.filtersPopup {
    width: 225px;
    max-height: 0;
    margin-left: 60%;
    border-radius: 25px;
    box-shadow: 0 2px 4px map.get($theme-colors, mainColor4);
    background-color: map.get($theme-colors, mainColor1);
    position: absolute;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    transition: max-height 1s ease-in-out;

    .sortBy,
    .category,
    .listingType,
    .minPrice,
    .maxPrice {
        width: 175px;
        margin-bottom: 15px;
    }
}
