@use "sass:map";
@use "@/assets/variables.modules" as *;
$featuredColor1: #f94914;
$featuredColor2: #e61984;

.homePage {
    width: 100%;
    height: 100vh;

    .mainPage {
        .recommended {
            margin-top: 50px;

            .nav {
                .head {
                    width: 150px;
                    height: 24.5px;
                    padding: 6px 8px;
                    line-height: 24.5px;
                    color: map.get($theme-colors, fontColor1)
                }
                .viewAll {
                    border-radius: 20px;
                    text-transform: capitalize;
                    float: right;
                    color: map.get($theme-colors, fontColor2);
                    transition: all 0.5s ease;

                    &:hover {
                        background-color: map.get($theme-colors, mainColor2);
                        color: map.get($theme-colors, fontColor1);
                    }
                }
                .head,
                .viewAll {
                    margin: 0 25px;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
}