// Built In Modules
@use "sass:map";
// Custom Variables
@use "@/assets/variables/variables.modules.scss" as *;

.paymentInfoPage {
    .mainPage {
        .transactionItems {
            width: 70%;
            margin: 0 auto 50px auto;
            display: flex;
            flex-direction: row;
            gap: 30px;
            flex-wrap: wrap;
        }
    }
}