// Built In Modules
@use "sass:map";
// Custom Variables
@use "@/assets/variables.modules.scss" as *;

.securityPage {
    .mainPage {
        h1 {
            text-align: center;
            font-weight: lighter;
            margin-bottom: 45px;
        }

        .card {
            width: 750px;
            height: 125px;
            margin: 25px auto;
            border-radius: 10px;
            background-color: map.get($theme-colors, mainColor1);
            box-shadow: 0 2px 4px map.get($theme-colors, mainColor4);
            position: relative;
            z-index: 0;
            display: flex;
            align-items: center;

            .info {
                width: fit-content;
                height: 55px;

                h2, p {
                    width: fit-content;
                    margin: 0 0 5px 25px;
                    font-size: 20px;
                }
            }

            .editBtn {
                width: 150px;
                height: 50px;
                margin: 0 25px 0 auto;
                background-color: map.get($theme-colors, mainColor1);
                box-shadow: 0 2px 4px map.get($theme-colors, mainColor4);
                border-radius: 25px;
                overflow: hidden;
                text-transform: none;
                color: map.get($theme-colors, mainColor3);
                transition: all 0.2s ease;

                &::after {
                    background: linear-gradient(to right, map.get($theme-colors, accentColor3), map.get($theme-colors, accentColor4)) no-repeat;
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                    inset: 0;
                    content: "";
                    transition: opacity 0.5s ease;
                }

                &:hover::after {
                    opacity: 1;
                }

                &:hover {
                    border: none;
                    background-color: transparent !important;
                    color: map.get($theme-colors, mainColor1) !important;
                }
            }
        }
    }
}