// Built In Modules
@use "sass:map";
// Custom Variables
@use "@/assets/variables.modules.scss" as *;

.header {
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 2px map.get($theme-colors, mainColor4);

    .headNav {
        width: calc(55% - 25px);
        height: 80px;
        padding-left: 25px;
        display: inline-block;

        .btn {
            height: 40px;
            margin: 20px 15px;
            font-size: 14px;
            font-weight: normal;
            text-transform: none;
            color: map.get($theme-colors, mainColor3);
            transition: all 0.5s ease;
        }

        .btn:hover {
            color: map.get($theme-colors, accentColor1) !important;
        }

        .categoriesBtn {
            padding: 0 15px;
            border: none;
            border-radius: 25px;
            display: block;
            overflow: hidden;
            float: right;
            color: map.get($theme-colors, accentColor1);
            transition: all 0.5s ease;

            &::after {
                background: linear-gradient(to right, map.get($theme-colors, accentColor1), map.get($theme-colors, accentColor2)) no-repeat;
                position: absolute;
                z-index: -1;
                opacity: 0;
                inset: 0;
                content: "";
                transition: opacity 0.5s ease;
            }

            &:hover::after {
                opacity: 1;
            }

            &:hover {
                border: none;
                background-color: transparent;
                color: map.get($theme-colors, mainColor1) !important;
            }

            .icon {
                position: relative;
                top: 3px;
                font-size: 16px;
            }
        }
    }
}