@use "sass:map";
@use "@/assets/variables.modules" as *;

.leftNav {
    height: calc(100% - 200px);
    padding-top: 200px;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
    .navBtn {
        width: 150px;
        margin: 15px 0 15px 15px;
        border-radius: 20px;
        display: block;
        overflow: hidden;
        text-align: left;
        text-transform: capitalize;
        color: map.get($theme-colors, fontColor2);

        &::after {
            background: linear-gradient(to right, map.get($theme-colors, accentColor3), map.get($theme-colors, accentColor4)) no-repeat;
            position: absolute;
            z-index: -1;
            opacity: 0;
            inset: 0;
            content: "";
            transition: opacity 0.5s ease;
        }
        &:hover::after {
            opacity: 1;
        }

        &:hover {
            color: map.get($theme-colors, mainColor1);
        }
        .icon {
            position: relative;
            top: 3px;
            font-size: 16px;
            color: map.get($theme-colors, accentColor1);
        }
    }
}