@use "sass:map";
@use "@/assets/variables.modules" as *;

.headNav {
    height: 35px;

    .navBtn {
        height: 35px;
        margin: 0 15px;
        border: 4px solid map.get($theme-colors, mainColor1);
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
        color: map.get($theme-colors, fontColor2);
        transition: all 0.5s ease;
    }
    .selected,
    .navBtn:hover {
        border-bottom: 4px solid map.get($theme-colors, accentColor3);
        background-color: map.get($theme-colors, mainColor1);
        color: map.get($theme-colors, fontColor1) !important;
    }
    .categoriesBtn,
    .sortBtn {
        border: none;
        border-radius: 15px;
        float: right;
        color: map.get($theme-colors, accentColor1);

        &:hover {
            border: none;
            background-color: map.get($theme-colors, mainColor2) !important;
            color: map.get($theme-colors, accentColor2) !important;
        }
    }
}
.mainPage {
    width: 100%;
    height: auto;
}