$theme-colors: (
    mainColor1: #fffeff,
    mainColor2: #63615d,
    mainColor3: #1e1911,
    mainColor4: #c5c6d0,
    accentColor1: #feb000,
    accentColor2: #f9c349,
    accentColor3: #051094,
    accentColor4: #1338be,
);

:export {
    @each $color, $value in theme-colors {
        #{$color}: #{$value};
    }
}