// Built In Modules
@use "sass:map";
// Custom Variables
@use "@/assets/variables.modules.scss" as *;

.specifics {
    width: 100%;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;

    table {
        width: 100%;
        padding: 0 10%;

        caption {
            margin-bottom: 10px;
            padding-left: calc(10% + 3px);
            text-align: left;
            font-size: 20px;
            font-weight: bold;
            color: map.get($theme-colors, mainColor3);
        }

        tr {
            th {
                color: map.get($theme-colors, mainColor2);
            }

            td {
                color: map.get($theme-colors, mainColor3);
            }

            th,
            td {
                width: 50%;
                height: 30px;
                text-align: left;
                font-weight: normal;
            }
        }
    }
}
