// Built In Modules
@use "sass:map";
// Custom Variables
@use "@/assets/variables.modules" as *;

.listingPage {
    width: 100%;
    height: 100vh;

    .mainPage {
        .listing {
            height: 50vh;
            margin-top: 100px;
            display: flex;
            flex-direction: row;

            .listingInfo {
                margin: auto 0;
                padding: 0 2% 0 5%;
                flex-basis: 26%;

                .listingTitle {
                    margin: 0 0 50px 0;
                    font-weight: bold;
                    font-size: 24px;
                }
                .listingPrice {
                    margin-top: 25px;
                    display: inline-block;
                    font-weight: normal;
                    font-size: 20px;
                }
                .addCartBtn {
                    height: 35px;
                    margin: 20px 0 0 20px;
                    padding: 0 20px;
                    border-radius: 5px;
                    background-image: linear-gradient(to right, map.get($theme-colors, accentColor1), map.get($theme-colors, accentColor2));
                    display: inline-block;
                    vertical-align: top;
                    font-weight: normal;
                    font-size: 20px;
                    color: map.get($theme-colors, mainColor1);
                }
            }
            .listingImage {
                display: flex;
                flex-basis: 34%;
                justify-content: center;

                img {
                    width: auto;
                    height: 100%;
                }
            }
            .listingDescription {
                height: fit-content;
                max-height: 100%;
                margin: auto 0;
                padding: 0 5% 0 2%;
                flex-basis: 26%;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
                .descriptionTitle {
                    font-size: 22px;
                    font-weight: bold;
                }
                .descriptionList {
                    padding-left: 18px;
                }
            }
        }
    }
}