.listingPage {
    width: 100%;
    height: 100vh;

    .mainPage {
        .listing {
            .lesserInfo {
                width: 100%;
                display: flex;
            }
        }
    }
}