// Built In Modules
@use "sass:map";
// Custom Variables
@use "@/assets/variables.modules" as *;

.authPage {
    .authForm {
        height: 100%;
        display: flex;
        justify-content: center;

        .card {
            width: 25%;
            margin: auto;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 2px 4px map.get($theme-colors, mainColor4);
            text-align: center;

            .content {
                .form {
                    .input {
                        margin-bottom: 10px;
                    }

                    .nameInput {
                        width: calc(50% - 5px);
                        margin-bottom: 10px;
                        display: inline-flex;
                    }

                    .errorMessage {
                        margin-bottom: 10px;
                        color: red;
                    }

                    .btn {
                        height: 50px;
                        margin-bottom: 10px;
                        background-color: map.get($theme-colors, accentColor1);

                        &:hover {
                            background-color: map.get($theme-colors, accentColor2);
                        }
                    }

                    .toggleBtn {
                        color: map.get($theme-colors, accentColor3);
                    }
                }
            }
        }
    }
}