<<<<<<< HEAD
// Built In Modules
@use "sass:map";
// Custom Variables
=======
@use "sass:map";
>>>>>>> 7ffa840 (WIP on main)
@use "@/assets/variables.modules" as *;

.searchBar {
    width: 40%;
    height: 40px;
    margin: 20px 2.5%;
    border-radius: 30px;
<<<<<<< HEAD
<<<<<<< HEAD
    box-shadow: 0 2px 4px map.get($theme-colors, mainColor4);
    background-color: map.get($theme-colors, mainColor1);
    display: inline-block;
    float: right;
    text-align: center;

    .input {
        width: calc(100% - 50px);
        height: 40px;
        margin-left: 10px;
        font-size: 16px;
        color: map.get($theme-colors, mainColor3);
=======
    background-color: map.get($theme-colors, mainColor2);
    box-shadow: 0 2px 4px map.get($theme-colors, accentColor1);
=======
    box-shadow: 0 1px 2px map.get($theme-colors, mainColor4);
    background-color: map.get($theme-colors, mainColor1);
    display: inline-block;
    float: right;
>>>>>>> 9d377c2 (update)
    text-align: center;

    .searchInput {
        width: calc(100% - 50px);
        height: 40px;
        margin-left: 10px;
        font-size: 16px;
<<<<<<< HEAD
        color: map.get($theme-colors, fontColor1);
>>>>>>> 7ffa840 (WIP on main)
    }

    .btn {
=======
        color: map.get($theme-colors, mainColor3);
    }
    .searchButton {
>>>>>>> 9d377c2 (update)
        width: 40px;
        min-width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 0 30px 30px 0;
    }

    .icon {
        width: 50%;
        height: 50%;
    }
}