@use '../../variables.module.scss' as variables;

.searchBar {
    margin: 15px 0;
    border-radius: 30px;
    background-color: variables.$mainColor1;
    box-shadow: 0 4px 8px variables.$accentColor1;
    text-align: center;

    .searchInput {
        width: calc(100% - 74px);
        height: 53px;
        margin: 0 0 0 10px;
        font-size: 16px;
        color: variables.$fontColor1;
    }
    .searchButton {
        width: 56px;
        height: 56px;
        padding: 0;
        border-radius: 0 30px 30px 0;
    }
    .searchIcon {
        width: 50%;
        height: 50%;
    }
}
