// Built In Modules
@use "sass:map";
// Custom Variables
@use "@/assets/variables.modules" as *;

$featuredColor1: #f94914;
$featuredColor2: #e61984;

.homePage {
    width: 100%;
    height: 100vh;
}